
<div class="post">

    <div class="post-header">
        <h1 class="title">
            <a href="<%- url_for(item.path) %>">
                <%- item.title || theme.default_post_title || __('default_post_title') %>
            </a>
        </h1>
        <div class="post-info">
            <% if(item.date) { %>
                <span class="date"><%= item.date.format(config.date_format) %></span>
            <% } %>
            <% if (theme.comments && theme.comments.disqus_shortname) { %>
                <a href="#disqus_thread" class="comments"><%= __('comment') %></a>
            <% } %>
            <% if(item.categories && item.categories.first()) { %>
                <span class="category">
                    <a href="<%- config.root + item.categories.first().path  %>"><%- item.categories.first().name %></a>
                </span>
            <% } %>
        </div>
    </div>

    <div class="content">

        <!-- Gallery -->
        <% if (item.photos && item.photos.length){ %>
            <%- partial('gallery') %>
        <% } %>

        <!-- Post Content -->
        <%- item.more %>
        <hr>
        <div class="article-footer">
            <p>Don’t forget to follow me on <a href="https://twitter.com/Dread_Boy" target="_blank" rel="external">Twitter</a> for regular development updates and subscribe to <a href="http://vozzel.games/atom.xml">RSS feed</a> if you still use that kind of thing. You can also subscribe to my <label for="mce-EMAIL" class="link">mailing list</label>.</p>
            <form action="https://vozzel.us9.list-manage.com/subscribe/post?u=38c78d5a3e7a6b31da863c070&amp;id=f5e8c4517e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                
                <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                <div style="position: absolute; left: -5000px;" aria-hidden="true">
                    <input type="text" name="b_38c78d5a3e7a6b31da863c070_f5e8c4517e" tabindex="-1" value="">
                </div>
                <input type="submit" value="Subscribe" class="button">
            </form>
        </div>
    </div>

    <%
        var tags = [];
        if(item.tags && item.tags.length) {
            item.tags.forEach(function(tag){
                tags.push('<a href="' + config.root + tag.path + '">#' + tag.name + '</a>');
            });
        }
    %>

    <% if(tags.length) { %>
        <div class="post-tags">
            <i class="fa fa-tags" aria-hidden="true"></i>
            <%- tags.join(' ') %>
        </div>
    <% } %>

    <!-- Comments -->
    <% if (theme.comments && theme.comments.disqus_shortname) { %>
    <div class="comments">
        <%- partial("_partial/comments.ejs") %>
    </div>
    <% } %>

</div>